body {
	width: 100%;
}

.fighters {
	display: flex;
	flex-flow: row nowrap;
}
.fighter {
	border: 1px solid black;
}
.characterFighter {
	background-color: yellow;
	align-self: flex-start;
}
.enemyFighter {
	background-color: black;
	align-self: flex-end;
}
.field {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}
.characterWrapper,
.enemyWrapper {
	height: 400px;
	width: 50%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
button {
	height: 80px;
	width: 90px;
	margin-left: 60px;
}
#spell {
	position: absolute;
	top: 150px;
	height: 10px;
	width: 40px;
	background-color: red;
	opacity: 0.25;
}

div.characterOption#fighter1,
div.characterFighter#fighter1 {
	background-image: url("../images/finnigan.png");
	background-size: cover;
}
div.characterOption#fighter2,
div.characterFighter#fighter2 {
	background-image: url("../images/ron.jpg");
}
div.characterOption#fighter3,
div.characterFighter#fighter3 {
	background-image: url("../images/dumble.jpg");
}
div.characterOption#fighter4,
div.characterFighter#fighter4 {
	background-image: url("../images/snape.png");
}
div.enemyOption#fighter1,
div.enemyFighter#fighter1 {
	background-image: url("../images/QuirinusQuirrell.png");
}
div.enemyOption#fighter2,
div.enemyFighter#fighter2 {
	background-image: url("../images/bella.jpg");
}
div.enemyOption#fighter3,
div.enemyFighter#fighter3 {
	background-image: url("../images/voldy.jpg");
}
div.enemyOption#fighter4,
div.enemyFighter#fighter4 {
	background-image: url("../images/snape.png");
}
.enemyOption,
.characterOption,
.enemyFighter,
.characterFighter {
	margin: 10px;
	height: 200px;
	width: 200px;
	background-size: contain;
}
#characterHealth,
#enemyHealth {
	color: red;
	font-size: 30px;
	margin: 10px;
}

.endMessage {
	font-size: 60px;
	color: black;
	margin: 30px;
}
#pickText {
	color: black;
	font-size: 30px;
	margin: 10px;
}
