body {
	width: 100%;
}
.fighters {
	display: flex;
	flex-flow: row nowrap;
}
.fighter {
	height: 150px;
	width: 150px;
	border: 1px solid black;
}
.characterFighter {
	background-color: yellow;
	align-self: flex-start;
}
.enemyFighter {
	background-color: black;
	align-self: flex-end;
}
.field {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}
.characterWrapper,
.enemyWrapper {
	height: 400px;
	width: 50%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
button {
	height: 40px;
	width: 50px;
}
#spell {
	position: absolute;
	top: 70px;
	height: 30px;
	width: 30px;
	background-color: green;
	opacity: 0.25;
}
